.sub-wrapper
  %header{class:"sub-header-flex"}
    .sub-header-flex__left
      =link_to root_path do
        = image_tag 'common/logo.svg', height:'49px'
    %nav{class:"sub-header-flex__right"}
      %ol{class:"progress-bar"}
        %li{class:"progress-bar__progress--through"}
          %p{class:"progress-bar__progress__text"} 会員情報
          .progress-bar__progress__status
        %li{class:"progress-bar__progress--through"}
          %p{class:"progress-bar__progress__text"} 電話番号認証
          .progress-bar__progress__status
        %li{class:"progress-bar__progress--through"}
          %p{class:"progress-bar__progress__text"} お届け先住所入力
          .progress-bar__progress__status
        %li{class:"progress-bar__progress--active"}
          %p{class:"progress-bar__progress__text"} 支払い方法
          .progress-bar__progress__status
        %li{class:"progress-bar__progress"}
          %p{class:"progress-bar__progress__text"} 完了
          .progress-bar__progress__status
  .sub-container
    .registration
      .panel
        .panel__head 支払い方法
        .panel__inner
          = form_with url: root_path  do |f|
            .content
              .form-group
                = f.label "カード番号", class:"form-group__label"
                %span.form-group__require 必須
                = f.text_field :card_number, type: 'text', class:"form-group__input",name:"number", placeholder: "半角数字のみ", maxlength: "16"
                .form-group__card-logos
                  = image_tag 'common/visa_logo.png', height:'20px'
                  = image_tag 'common/mastercard_logo.png', height:'20px'
                  = image_tag 'common/saison_logo.png', height:'20px'
              .form-group
                = f.label "有効期限", class:"form-group__label"
                %span.form-group__require 必須
                .form-group__expiration-wrap
                  = f.select :exp_month, [["--",""],["1","01"],["2","02"],["3","03"],["4","04"],["5","05"],["6","06"],["7","07"],["8","08"],["9","09"],["10","10"],["11","11"],["12","12"]],{}, {class:"exp-month", name:"exp_month"}
                  .icon-chevron-bottom
                  %span 月
                .form-group__expiration-wrap
                  = f.select :exp_year, [["--",""],["19","2019"],["20","2020"],["21","2021"],["22","2022"],["23","2023"],["24","2024"],["25","2025"],["26","2026"],["27","2027"],["28","2028"],["29","2029"],],{},{class:"exp-year", name:"exp-year"}
                  %span 年
                  .icon-chevron-bottom
              .form-group
                = f.label "セキュリティコード", class:"form-group__label"
                %span.form-group__require 必須
                = f.text_field :cvc, type: 'text', class:"form-group__input", name:"cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4"
                .form-group__card-info
                  .icon-question-circle
                  =link_to "カード裏面の番号とは？", src:"#", class:"icon-chevron-right"
                = f.submit "カード登録", class:"registration-next-btn", id: 'token_submit'
  = render partial: "/layouts/sub-footer"


:javascript
  document.addEventListener(
  "DOMContentLoaded", (e) => {
    Payjp.setPublicKey("pk_test_415c1e8b20431b96ce1eb587");
    const btn = document.getElementById('token_submit'); //IDがtoken_submitの場合に取得されます
    btn.addEventListener("click", (e) => {　//ボタンが押されたときに作動します
      e.preventDefault();　//ボタンを一旦無効化します

      //カード情報生成
      const card = {
        number: document.getElementById("card_number").value,
        cvc: document.getElementById("cvc").value,
        exp_month: document.getElementById("exp_month").value,
        exp_year: document.getElementById("exp_year").value
      }; //入力されたデータを取得します。

      //トークン生成
      Payjp.createToken(card, (status, response) => {
        if (status === 200) { //成功した場合
          $("#card_number").removeAttr("name");
          $("#cvc").removeAttr("name");
          $("#exp_month").removeAttr("name");
          $("#exp_year").removeAttr("name"); //カード情報を自分のサーバにpostせず削除します
          $("#card_token").append(
            $('<input type="hidden" name="payjp-token">').val(response.id)
          ); //トークンを送信できるように隠しタグを生成
          document.inputForm.submit();
          alert("登録が完了しました"); //確認用
        } else {
          alert("カード情報が正しくありません。"); //確認用
        }
      });
    });
  },false);