.product-exhibition__header 
  .product-exhibition__header__logo
    = image_tag "common/logo.svg", alt: "mercari", height: "49", width: "185"

.body
  .product-exhibition
    .product-exhibition__head 商品情報を入力
    = form_for(@product, :url => {:action => :create}) do |f|
      
      -# 出品画像
      .product-exhibition__form__group
        .product-exhibition__form__group__item
          %span.product-exhibition__form__group__item__large-label 出品画像
          %span.product-exhibition__form__group__item__necessary 必須
        %p.product-exhibition__form__group__notice 最大10枚までアップロードできます
        .product-exhibition__form__group__image
          =f.fields_for @image do |fi|
            .product-exhibition__form__group__image__upload-area
              .image-preview
                %p.product-exhibition__form__group__image__upload-area__top
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
              = fi.file_field :name, name: 'images[name][1]',id: 'image1', class: "product-exhibition__form__group__image__upload-area__hidden"


      -# 商品名、商品の説明
      .product-exhibition__form__group
        .product-exhibition__form__group__intro
          .product-exhibition__form__group__item
            %span.product-exhibition__form__group__item__label 商品名
            %span.product-exhibition__form__group__item__necessary 必須
          .product-exhibition__form__group__text-box
            = f.text_field :name, autofocus: true, class: "product-exhibition__form__group__text-box__field__name", placeholder: "商品名（必須40文字まで）"
          .product-exhibition__form__group__item
            %span.product-exhibition__form__group__item__label 商品の説明
            %span.product-exhibition__form__group__item__necessary 必須
          .product-exhibition__form__group__text-box
            = f.text_area :introduction, autofocus: true, class: "product-exhibition__form__group__text-box__area", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      

      -# 商品の詳細
      .product-exhibition__form__group
        .product-exhibition__form__group__detail
          %span.product-exhibition__form__group__small-label 商品の詳細
          .product-exhibition__form__group__detail-list
            .product-exhibition__form__group__select-box__category
              .product-exhibition__form__group__item
                %span.product-exhibition__form__group__item__label カテゴリー
                %span.product-exhibition__form__group__item__necessary 必須
              .product-exhibition__form__group__select-box
                = f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"}, class: "product-exhibition__form__group__select-box__body"
            .product-exhibition__form__group__select-box__state
              .product-exhibition__form__group__item
                %span.product-exhibition__form__group__item__label 商品の状態
                %span.product-exhibition__form__group__item__necessary 必須
              .product-exhibition__form__group__select-box
                = f.collection_select :state_id, State.all, :id, :name, {include_blank: "---"}, class: "product-exhibition__form__group__select-box__body"


      -# 配送に付いて
      .product-exhibition__form__group
        .product-exhibition__form__group__delivery
          %span.product-exhibition__form__group__small-label 配送について
          %span.product-exhibition__form__group__help
            = link_to "?"

          .product-exhibition__form__group__delivery__list
            .product-exhibition__form__group__item            
              %span.product-exhibition__form__group__item__label 配送料の負担
              %span.product-exhibition__form__group__item__necessary 必須
            .product-exhibition__form__group__select-box__delivery_cost
              = f.collection_select :delivery_cost_id, DeliveryCost.all, :id, :name, {include_blank: "---"}, class: "product-exhibition__form__group__select-box__body" 
            
            .product-exhibition__form__group__item
              %span.product-exhibition__form__group__item__label 配送の方法
              %span.product-exhibition__form__group__item__necessary 必須
            .product-exhibition__form__group__select-box__delivery_method
              = f.collection_select :delivery_method_id, DeliveryMethod.all, :id, :name, {include_blank: "---"}, class: "product-exhibition__form__group__select-box__body" 

            .product-exhibition__form__group__item
              %span.product-exhibition__form__group__item__label 発送元の地域
              %span.product-exhibition__form__group__item__necessary 必須
            .product-exhibition__form__group__select-box__delivery_prefecture
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, class: "product-exhibition__form__group__select-box__body" 

            .product-exhibition__form__group__item
              %span.product-exhibition__form__group__item__label 発送までの日数
              %span.product-exhibition__form__group__item__necessary 必須
            .product-exhibition__form__group__select-box__delivery_date
              = f.collection_select :delivery_date_id, DeliveryDate.all, :id, :name, {include_blank: "---"}, class: "product-exhibition__form__group__select-box__body"


      -# 販売価格
      .product-exhibition__form__group
        .product-exhibition__form__group__sell-price
          %span.product-exhibition__form__group__small-label 販売価格(300〜9,999,999)
          %span.product-exhibition__form__group__help
            = link_to "?"
          
          .product-exhibition__form__group__sell-price__list
            .product-exhibition__form__group__sell-price__list__price
              .product-exhibition__form__group__sell-price__list__price__left
                %span.product-exhibition__form__group__item__label 価格
                %span.product-exhibition__form__group__item__necessary 必須
              .product-exhibition__form__group__sell-price__list__price__right
                %span ¥
                .product-exhibition__form__group__text-box
                  = f.text_field :price, autofocus: true, class: "product-exhibition__form__group__text-box__field__price",placeholder: "例）300"
            
            .product-exhibition__form__group__sell-price__list__fee
              .product-exhibition__form__group__sell-price__list__fee__left
                %p 販売手数料(10%)
              .product-exhibition__form__group__sell-price__list__fee__right
                %p -
            
            .product-exhibition__form__group__sell-price__list__profit
              .product-exhibition__form__group__sell-price__list__profit__left
                %p 販売利益
              .product-exhibition__form__group__sell-price__list__profit__right
                %p -


      -# 確認事項、出品ボタン、もどるボタン
      .product-exhibition__form__group
        %p
          = link_to "禁止されている出品"
          %span 、
          = link_to "行為"
          %span を必ずご確認ください。
        %p 
          %span またブランド品でシリアルナンバー等がある場合はご記載ください。
          %span 
          =link_to "偽ブランドの販売"
          %span は犯罪であり処罰される可能性があります。
        %p 
          %span また、出品をもちまして
          %span 
          =link_to "加盟店規約"
          %span に同意したことになります。
        .product-exhibition__form__group__actions
          = f.submit "出品する"
        .product-exhibition__form__group__return
          = link_to "もどる" ,root_path, class: "product-exhibition__form__group__return"


.product-exhibition__footer 
  %span.product-exhibition__footer__policy 
    = link_to "プライバシーポリシー"
  %span.product-exhibition__footer__terms 
    = link_to "メルカリ利用規約"
  %span.product-exhibition__footer__law
    = link_to "特定商取引に関する表記"
  .product-exhibition__footer__logo
    = image_tag 'common/logo-gray.svg', alt: 'mercari', height: '65', width: '80'
  .product-exhibition__footer__trademark ©️ 2019 Mercari
