.header
  .header__container
    .header__container__search
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2927923569", class: "header__container__search__logo"
      = form_with local: true, class: "header__container__search__form" do |f|
        = f.text_field :keyword, class: "header__container__search__input", type: "search", name: "keyword", placeholder: "何かお探しですか？"        
    .header__container__navigation
      .navigation-left
      -#
        %ul#dropmenu
          %li
            .i.fa.fa-bars
            = link_to 'カテゴリから探す', '#'
            %ul
              %li
                = link_to 'レディース', '#'
              %li
                = link_to 'メンズ', '#'
              %li
                = link_to 'メンズ', '#'
        %ul#dropmenu
          %li
            .i.fa.fa-tags
            = link_to 'ブランドから探す', '#'
            %ul
              %li
                = link_to 'シャネル', '#'
              %li
                = link_to 'ナイキ', '#'
      .navigation-right
        %ul.header-user-nav
          - if user_signed_in?
            %li
              = link_to('#', class: 'link') do
                %i.icon.fa.fa-heart-o
                %span いいね!一覧
            %li
              = link_to('#', class: 'link') do
                %i.icon.fa.fa-bell-o
                  .nav-count 5
                %span お知らせ
              %ul
                %li
                  = link_to user_path(current_user.id),class: "sublink" do
                    .sublink-content-logo
                      =image_tag "common/logo-gray.svg", size: "40x40", alt: "mercari"
                    .sublink-content-text
                      %span 3日後、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                      %i.fa.fa-chevron-right
                %li
                  = link_to user_path(current_user.id),class: "sublink" do
                    .sublink-content-logo
                      =image_tag "common/logo-gray.svg", size: "40x40", alt: "mercari"
                    .sublink-content-text
                      %span 【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                      %i.fa.fa-chevron-right
                %li
                  = link_to user_path(current_user.id),class: "sublink" do
                    .sublink-content-logo
                      =image_tag "common/logo-gray.svg", size: "40x40", alt: "mercari"
                    .sublink-content-text
                      %span 事務局から個別メッセージ「ログイン通知」
                      %i.fa.fa-chevron-right
                %li
                  = link_to user_path(current_user.id),class: "sublink" do
                    .sublink-content-logo
                      =image_tag "common/logo-gray.svg", size: "40x40", alt: "mercari"
                    .sublink-content-text
                      %span 《ご登録記念》¥1,000の商品を「実質1円」でご購入いただけます！
                      %i.fa.fa-chevron-right
                %li
                  = link_to user_path(current_user.id),class: "sublink" do
                    .sublink-content-logo
                      =image_tag "common/logo-gray.svg", size: "40x40", alt: "mercari"
                    .sublink-content-text
                      %span 【スマホを売ろう！】メルカリなら下取りよりも高く売れる♪いますぐ相場チェック！
                      %i.fa.fa-chevron-right
            %li
              = link_to('#', class: 'link') do
                %i.icon.fa.fa-check
                %span やることリスト
              %ul
                %li
                  = link_to (''),class: "sublink-todo" do
                    .sublink-content-todo
                      .sublink-content-todo-logo
                        = image_tag "common/logo-gray.svg" ,size: "80x80"
                      .sublink-content-todo-text
                        %span 現在、やることリストはありません
            %li.list-mypage
              = link_to users_path(current_user.id) do
                %span マイページ
              %ul
                .sublink-mypage
                  %li
                    = image_tag "common/logo-gray.svg" ,size: "75x75", alt: "", class: "sublink-maypagemember_photo"
                  %li
                    = link_to users_path(current_user.id),class: "sublink-maypage-link" do
                      ユーザー名：#{current_user.name}
          - else
            .new-registration-btn
              = link_to '新規会員登録', new_user_path
            .log-in-btn
              = link_to 'ログイン', new_user_session_path